<!DOCTYPE html>
<html lang="en">

<head>
    <title>POD</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal">
                <div class="container">
                    <a href="/" class="brand-logo">PODS</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {{#if user}}
                        <li>{{user.email}}</li>
                        <li><a class="btn" href="/logout">logout</a></li>
                        {{/if}}
                        {{#unless user}}
                        <li><a class="btn" id="loginButton">Login</a></li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="loginDiv" class="hide">
        <div class="card-panel">
            <h4>Parent Login</h4>
            <form action="/login/parent" method="POST">
                <input type="text" name="parentEmail" placeholder="email">
                <input type="password" name="parentPassword" placeholder="password">
                <input class="btn" type="submit" value="Login">
                <a class="btn-flat close">Close</a>
            </form>
        </div>
        <div class="card-panel">
            <h4>Teacher Login</h4>
            <form action="/login/teacher" method="POST">
                <input type="text" name="teacherEmail" placeholder="email">
                <input type="password" name="teacherPassword" placeholder="password">
                <input class="btn" type="submit" value="Login">
                <a class="btn-flat close">Close</a>
            </form>
        </div>
    </div>
    {{{ body }}}
    <footer class="footer-copyright spacing">
        <div class="container">
            <p class="flow-text center-align">© PODS Team</p>
        </div>
    </footer>
    {{!-- materialize javascript --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/index.js"></script>
</body>

</HTML>