<!DOCTYPE html>
<html lang="en">

<head>
    <title>POD</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a href="/" class="logo left">PODS</a>
                            <ul id="nav-mobile" class="right">
                                {{#if user}}
                                    <li><a href="/parent">{{user.email}}</a></li>
                                    <li><a class="btn" href="/logout">logout</a></li>
                                {{/if}}
                                {{#unless user}}
                                <li><a id="teacher-login-button">Teacher Login</a></li>
                                <li><a class="btn" id="parent-login-button">Parent Login</a></li>
                                {{/unless}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="parent-login-div" class="hide">
        <div class="card-panel">
            <h4>Parent Login</h4>
            <form action="/login/parent" method="POST">
                <input type="text" name="parentEmail" placeholder="email">
                <input type="password" name="parentPassword" placeholder="password">
                <input class="btn" type="submit" value="Login">
                <a class="btn-flat close">Close</a>
            </form>
        </div>
    </div>
    <div id="teacher-login-div" class="hide">
        <div class="card-panel">
            <h4>Teacher Login</h4>
            <form action="/login/teacher" method="POST">
                <input type="text" name="teacherEmail" placeholder="email">
                <input type="password" name="teacherPassword" placeholder="password">
                <input class="btn" type="submit" value="Login">
                <a class="btn-flat close">Close</a>
            </form>
        </div>
    </div>
    <div class="container">
    {{{ body }}}
        <footer>
            <div class="row">
                <div class="col s12">
                    <p class="flow-text">© PODS Team</p>
                </div>
            </div>
        </footer>
    </div>
    {{!-- materialize javascript --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/index.js"></script>
</body>

</HTML>