    <header>
        <div class="row">
            <div class="col s12" id="hero">
                <div class="row">
                    <div class="col s12">
                        <h2>Incorrect email or password.</h2>
                        <h4>Please try again or sign up.</h4>
                        <a class="btn" href="/signup/parent">Parent Sign Up</a>
                        <a class="btn white black-text" href="/signup/teacher">Teacher Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>