<header class="spacing">
    <div class="container row">
        <div class="center-align col s12">
            <h1>Pair your kids with friends for at home class activites.</h1>
            <p class="flow-text">PODS is a matching tool for kids designed for at home schooling</p>
            <a class="btn" href="/signup/parent"><i class="material-icons left">create</i>Parent Sign Up</a>
            <a class="btn" href="/signup/teacher"><i class="material-icons left">create</i>Teacher Sign Up</a>
        </div>
    </div>
</header>
<section class="spacing">
    <div class="container row">
        <div class="col s8">
            <img class="responsive-img feature-screenshot" src="../assets/img/screenshot-0.png" alt="Screenshots"/>
        </div>
        <div class="col s4">
            <ul class="collection">
                <li class="feature collection-item" data-f="0">Create your profile</li>
                <li class="feature collection-item" data-f="1">Show your availabiltiy</li>
                <li class="feature collection-item" data-f="2">Add your kids to a POD</li>
                <li class="feature collection-item" data-f="3">Reschedule</li>
            </ul>
        </div>
    </div>
</section>
<section class="spacing">
    <div class="container">
        <div class="row">
            <div class="center-align col s12">
                <h3>About PODS</h3>
                <p class="flow-text">Behind the scenes</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s4">
                        <img class="responsive-img" src="../assets/img/screenshot-1.png" alt="Profile picture">
                    </div>
                    <div class="col s8">
                        <h5>Maged Abdelsalam</h5>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Website</a>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Github</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s4">
                        <img class="responsive-img" src="../assets/img/screenshot-1.png" alt="Profile picture">
                    </div>
                    <div class="col s8">
                        <h5>Maged Abdelsalam</h5>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Website</a>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Github</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="col s4">
                        <img class="responsive-img" src="../assets/img/screenshot-1.png" alt="Profile picture">
                    </div>
                    <div class="col s8">
                        <h5>Maged Abdelsalam</h5>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Website</a>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Github</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s4">
                        <img class="responsive-img" src="../assets/img/screenshot-1.png" alt="Profile picture">
                    </div>
                    <div class="col s8">
                        <h5>Maged Abdelsalam</h5>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Website</a>
                        <a class="btn-small" href=""><i class="material-icons left">link</i>Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>