    <header>
        <div class="row">
            <div class="col s12" id="hero">
                <div class="row">
                    <div class="col s12">
                        <h1>Pair your kids with <br/>friends at home.</h1>
                        <a class="btn" href="/signup/parent">Parent Sign Up</a>
                        <a class="btn white black-text" href="/signup/teacher">Teacher Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="row">
                <div class="col s12">
                      <h3>Features</h3>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <ul class="features collection">
                    <li class="feature collection-item" data-feature="0">1. Create parent profile</li>
                    <li class="feature collection-item" data-feature="1">2. Add your kids to a POD</li>
                    <li class="feature collection-item" data-feature="2">3. Create teacher profile</li>
                </ul>
            </div>
            <div class="col s12 m12 l8">
                <img class="card responsive-img feature-screenshot" src="../assets/img/screenshot-0.png" alt="Screenshots"/>
            </div>
        </div>
    </section>
    <section>
            <div class="row">
                <div class="col s12">
                    <h3>About</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="row">
                        <div class="col s4">
                            <img class="circle responsive-img" src="../assets/img/janelle.png" alt="Profile picture">
                        </div>
                        <div class="col s8">
                            <h5>Janelle Deane</h5>
                            <a class="btn-small" href="https://janelle-deane.github.io/first-portfolio/">Website</a>
                            <a class="btn-flat" href="https://github.com/janelle-deane">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="row">
                        <div class="col s4">
                            <img class="circle responsive-img" src="../assets/img/daniel.png" alt="Profile picture">
                        </div>
                        <div class="col s8">
                            <h5>Dan Yoder</h5>
                            <a class="btn-small" href="https://dyoder838.github.io/my-portfolio/">Website</a>
                            <a class="btn-flat" href="https://github.com/dyoder838">Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="row">
                        <div class="col s4">
                            <img class="circle responsive-img" src="../assets/img/jae.png" alt="Profile picture">
                        </div>
                        <div class="col s8">
                            <h5>Jae Mclain</h5>
                            <a class="btn-small" href="https://jaemclain.github.io/first-Portfolio/">Website</a>
                            <a class="btn-flat" href="https://github.com/jaemclain">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="row">
                        <div class="col s4">
                            <img class="circle responsive-img" src="../assets/img/maged.png" alt="Profile picture">
                        </div>
                        <div class="col s8">
                            <h5>Maged Abdelsalam</h5>
                            <a class="btn-small" href="https://www.magedabdelsalam.com">Website</a>
                            <a class="btn-flat" href="https://github.com/magedabdelsalam">Github</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>