    <header>
        <div class="row">
            <div class="col s12">
                <h2>Sign Up</h2>
            </div>
        </div>
    </header>
    <section>
        <form action="/parent/signup">
            <div class="row">
                <div class="col s12 m12 l8">
                    <div class="row">
                        <div class="col s12">
                            <h4>Parent Profile</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l6">
                            <input id="parentFirst" type="text" class="validate">
                            <label for="parentFirst">First Name</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <input id="parentLast" type="text" class="validate">
                            <label for="parentLast">Last Name</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l6">
                            <input id="parentEmail" type="email" class="validate">
                            <label for="parentEmail">Email</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <input id="parentPassword" type="password" class="validate">
                            <label for="parentPassword">Password</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="row">
                        <div class="col s12">
                            <h4>Availability</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <label>
                                    <input type="checkbox" id="monday" name="monday" />
                                    <span>Monday</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input id="tuesday" type="checkbox" name="tuesday"/>
                                    <span>Tuesday</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input id="wednesday" type="checkbox" name="wednesday" />
                                    <span>Wednesday</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input id="thursday" type="checkbox" name="thursday" />
                                    <span>Thursday</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input id="friday" type="checkbox" name="friday" />
                                    <span>Friday</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button id="parent-submit-button" class="btn-large" type="submit" name="action">Create Profile</button>
                </div>
            </div>
        </form>
    </section>