<main class="container">

    {{!-- one row, 2 columns --}}
    <aside class="row">

        {{!-- column 1, 3 rows - 1 col each --}}
        <section class="col xl4">

            {{!-- column 1/row 1 --}}
            {{!-- pod availability filter ajax GET pods--}}
            <div class="row">

                {{!-- checking a box calls for pod.day "" to populate in column 2 --}}
                <form id="pod-day-checkbox-form" class="col xl12" action="#">

                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Monday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Tuesday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Wednesday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Thursday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Friday</span>
                        </label>
                    </p>

                </form>

            </div>

            {{!-- column 1/row 2 --}}
            {{!-- list of children, that belong to the current parent, that are not in a pod --}}
            <div class="row">

                {{!-- ajax request to  student where parent id = this.id for * students first_name + + last_name --}}
                <form id="children-of-parent-checkbox-form" class="col xl12" action="#">

                    <ul>
                        <li><input type="checkbox"> whatever</li>
                        <li><input type="checkbox"> whatever</li>
                    </ul>

                            {{!-- <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>Monday</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>Tuesday</span>
                                </label>
                            </p> --}}

                </form>

            </div>
        </section>

    </aside>

</main>