<div class="container spacing">
    <div class="row">
        <section class="col s12 m12 l3">
            <div class="row">
                <h5>Children</h5>
                <form id="parent-day-checkbox-form" class="col xl12">
                    <p>
                        <label>
                            <input type="checkbox" id="lananada" name="lananada" />
                            <span>Lana Nada</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" id="hananada" name="hananada" />
                            <span>Hana Nada</span>
                        </label>
                    </p>
                </form>
            </div>
            <div class="row">
                <h5>Availability</h5>
                <form id="parent-day-checkbox-form" class="col xl12">
                    <p>
                        <label>
                            <input type="checkbox" id="monday" name="monday" />
                            <span>Monday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="tuesday" type="checkbox" name="tuesday"/>
                            <span>Tuesday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="wednesday" type="checkbox" name="wednesday" />
                            <span>Wednesday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="thursday" type="checkbox" name="thursday" />
                            <span>Thursday</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="friday" type="checkbox" name="friday" />
                            <span>Friday</span>
                        </label>
                    </p>
                </form>
            </div>
        </section>
        <section class="col s12 m12 l9">
            <div class="row">
                <div class="col s12">
                    <h3>Monday</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="podParent">Mahitab Abdelsalam</h4>
                            <h5>Students</h5>
                            <ul>
                                <li>Alex John</li>
                                <li>Joanna Smith</li>
                                <li>Danuel Rondo</li>
                            </ul>
                            <label>Select Child</label>
                            <select class="browser-default">
                                <option value="" disabled selected> Choose your option</option>
                                <option value="Lana Nada">Lana Nada</option>
                                <option value="Hana Nada">Hana Nada</option>
                            </select>
                        </div>
                        <div class="card-action">
                            <a href="#">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
