    <header>
        <div class="row">
            <div class="col s12">
                <h2>Sign Up</h2>
            </div>
        </div>
    </header>
    <section>
        <form action="/teacher/signup">
            <div class="row">
                <div class="col s12 m12 l10">
                    <div class="row">
                        <div class="col s12">
                            <h4>Teacher Profile</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l6">
                            <input id="teacherFirst" type="text" class="validate">
                            <label for="teacherFirst">First Name</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <input id="teacherLast" type="text" class="validate">
                            <label for="teacherLast">Last Name</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l6">
                            <input id="teacherEmail" type="email" class="validate">
                            <label for="teacherEmail">Email</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <input id="teacherPassword" type="password" class="validate">
                            <label for="teacherPassword">Password</label>
                            <span class="helper-text" data-error="Wrong" data-success="Right"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button id="teacher-submit-button" class="btn-large" type="submit" name="action">Create Profile</button>
                </div>
            </div>
        </form>
    </section>